    <div class="card w-25 h-50">
        <%= form_with url: login_path do |form| %>
            <% if flash[:notice] %>
                <div class="alert alert-success">
                    <%= flash[:notice] %>
                </div>
            <% end %>

        <% if flash[:alert] %>
            <div class="alert alert-danger">
                <%= flash[:alert] %>
            </div>
        <% end %>

        <div class="d-flex justify-content-center align-items-center">
            <h1 class="text-center text-customized">LOGIN</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-floating w-50 mb-3">
            <%# form.label :user, for: "floatingInput" %>
            <%= form.text_field :user, class: "form-control", id: "floatingInput", placeholder: "User" %>
            <label for="floatingInput">User</label>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-floating w-50 mb-3">
            <%# form.label :password, "Password:" %>
            <%= form.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password" %>
            <label for="floatingPassword">Password</label>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="input-group w-50">
                <%= form.submit "Login"%>
            </div>
        </div>
        <% end %>
        <div class="d-flex justify-content-center align-items-center">
            <div class="input-group w-50">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#meuModal">
                 Não tem cadastro? Cadastre aqui!
                </button>
            </div>
        </div>
    </div>

