
<div id="<%= dom_id equipment %>">
  <div>
    <strong>Name:</strong>
    <%= equipment.name %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= equipment.category.name %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= equipment.quantity %>
  </div>

  <div>
    <strong>Daily value:</strong>
    <%= equipment.daily_value %>
  </div>

  <div>
    <strong>Statu:</strong>
    <%= equipment.statu %>
  </div>

</div>
