

<%# You can add more content here, such as recent rentals, popular items, or any other relevant information for users. %>

<div class="container-header">
    <h3>Empresa de Eventos</h3>
<div class="header-usuario">
    <p><strong><%= current_user.name%></strong></p>
    <div>
        <p>Operador</p>
    </div>
</div>
</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="menu_top">
        <div>
            <%= link_to "Users", users_path, class: "button-group" %>
        </div>
        <div>
            <%= link_to "Clients", clients_path, class: "button-group" %>
        </div>
        <div>
            <%= link_to "Rentals", rentals_path, class: "button-group" %>
        </div>
        <div>
            <%= link_to "Events", events_path, class: "button-group" %>
        </div>
        <div>
            <%= link_to "Equipments", equipment_index_path, class: "button-group" %>
        </div>
        <div>
            <%= link_to "Categories", categories_path, class: "button-group" %>
        </div>
        <div>
            <% if logged_in? %>
                <%= button_to "Sair", logout_path, method: :delete, class: "button-group" %>
            <% end %>
        </div>
</div>  
