<div id="<%= dom_id event %>">
  <div>
    <strong>Name:</strong>
    <%= event.name %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= event.end_date %>
  </div>

  <div>
    <strong>Local:</strong>
    <%= event.local %>
  </div>

</div>
