<%= form_with(model: event, class: "row g-3") do |form| %>

  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h5>
      <ul class="mb-0">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- NAME -->
  <div class="col-md-6">
    <div class="form-floating">
      <%= form.text_field :name, class: "form-control", placeholder: "Event name" %>
      <%= form.label :name, "Event Name" %>
    </div>
  </div>

  <!-- LOCAL -->
  <div class="col-md-6">
    <div class="form-floating">
      <%= form.text_field :local, class: "form-control", placeholder: "Location" %>
      <%= form.label :local, "Location" %>
    </div>
  </div>

  <!-- START DATE -->
  <div class="col-md-6">
    <div class="form-floating">
      <%= form.date_field :start_date, class: "form-control" %>
      <%= form.label :start_date, "Start Date" %>
    </div>
  </div>

  <!-- END DATE -->
  <div class="col-md-6">
    <div class="form-floating">
      <%= form.date_field :end_date, class: "form-control" %>
      <%= form.label :end_date, "End Date" %>
    </div>
  </div>

  <!-- BUTTON -->
  <div class="col-12 text-center mt-3">
    <%= form.submit "Create Event", class: "btn btn-success px-4 shadow-sm", style: "background-color: darkseagreen; border: none;" %>
  </div>

<% end %>
