<div class="card-container">
  <div class="card">
<%= form_with(model: @rental, local: true, class: "form-content") do |form| %>
    <% if @rental.errors.any? %>
      <div class="input-group">
        <h5><%= pluralize(@rental.errors.count, "Errors ") %> please correct the errors below. </h5>
        <ul>
          <% @rental.errors.full_messages.each do |message| %>
            <li><p class="error-messages"><%= message %></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2>New Rental</h2>
    <div class="input-group">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="input-group">
      <p><%= @rental.event.name %></p>
    </div>
    <div class="input-group">
      <%= form.label :client_id %>
      <%= form.collection_select :client_id, Client.all, :id, :name %>
    </div>
    <div class="input-group">
      <%= form.hidden_field :event_id %>
    </div>
    <div class="input-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date %>
    </div>
    <div class="input-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date %>
    </div>
    <div class="input-group">
      <%= form.label :status %>
      <%= form.select :status, Rental.statuses.keys.map { |status| [status.humanize, status] } %>
    </div>

    <div class="actions">
      <%= form.submit "Create Rental", class: "btn-submit" %> 
    </div>
    <div>
    <p class="foot"><%= current_user.name %></p>
    <div>
  <% end %>
  </div>
</div>