<h1>Rentals</h1>

<div class="menu_top">
    <div>
        <%= link_to "Users", users_path, class: "button-group" %>
    </div>
    <div>
        <%= link_to "Clients", clients_path, class: "button-group" %>
    </div>
    <div>
        <%= link_to "Rentals", rentals_path, class: "button-group" %>
    </div>
    <div>
        <%= link_to "Events", events_path, class: "button-group" %>
    </div>
    <div>
        <%= link_to "Equipments", equipment_index_path, class: "button-group" %>
    </div>
    <div>
        <%= link_to "Categories", categories_path, class: "button-group" %>
    </div>
    <div>
        <% if logged_in? %>
            <%= button_to "Sair", logout_path, method: :delete, class: "button-group" %>
        <% end %>
    </div>
</div>

<%=link_to "New Retal", new_rental_path%>

<h4>Filter</h4>
<%= link_to "All", rentals_path %>
<%= link_to "Active", rentals_path(status: :active) %>
<%= link_to "Pending", rentals_path(status: :pending) %>
<%= link_to "Completed", rentals_path(status: :completed) %>
<%= link_to "Cancelled", rentals_path(status: :cancelled) %>

<table class="table">
    <thead>
        <tr>
            <td>Client</td>
            <td>Event</td>
            <td>Rental Date</td>
            <td>Return Date</td>
            <td>User</td>
            <td>Total Value</td>
            <td>Status</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% @rentals.each do |rental|%>
        <tr>
            <td><%= rental.client.name%></td>
            <td><%= rental.event.name%></td>
            <td><%= rental.start_date.strftime("%d/%m/%Y") %></td>
            <td><%= rental.end_date.strftime("%d/%m/%Y") %></td>
            <td><%= rental.user&.name%></td>
            <td><%= rental.total_value %></td>
            <td><%= rental.status.humanize %></td>
            <td>
                <%= link_to  "Details", rental_path(rental)%>
                <%= link_to "Adicionar Items", new_rental_rental_item_path(rental), class: "btn btn-success" %>
                <%= link_to "Payment", new_rental_payment_path(rental)%>
            </td>
        </tr>
        <%end%>
    </tbody>