<div class="container-fluid mt-4">

  <div class="card shadow-sm border-0">

    <!-- HEADER -->
    <div class="card-header text-white d-flex justify-content-between align-items-center"
         style="background-color: darkseagreen;">
      <h5 class="mb-0">Rentals</h5>

      <a class="btn btn-light btn-sm shadow-sm"
         data-bs-toggle="collapse"
         href="#collapseFilter"
         role="button">
        Filter
      </a>
    </div>

    <div class="card-body">

      <!-- FILTER -->
      <div class="collapse mb-4" id="collapseFilter">
        <div class="card card-body shadow-sm">

          <div class="btn-group flex-wrap" role="group">
            <%= link_to "All", rentals_path, class: "btn btn-outline-primary" %>
            <%= link_to "Active", rentals_path(status: :active), class: "btn btn-outline-primary" %>
            <%= link_to "Pending", rentals_path(status: :pending), class: "btn btn-outline-primary" %>
            <%= link_to "Completed", rentals_path(status: :completed), class: "btn btn-outline-primary" %>
            <%= link_to "Cancelled", rentals_path(status: :cancelled), class: "btn btn-outline-primary" %>
          </div>

        </div>
      </div>

      <!-- TABLE -->
      <%= render "table_rental"%>

    </div>
  </div>

</div>