<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="text-customized"><%= @rental.event.name %></h1>
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="container text-center">
                <div class= "row">
                    <div class="col-md-auto">
                        <h4 class="text-center">Client: <%= @rental.client.name %></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <p class="text-center"><strong>Event:</strong> <%= @rental.event.name %></p>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-center"><strong>Rental Date:</strong> <%= @rental.start_date.strftime("%d/%m/%Y") %></p>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-center"><strong>Return Date:</strong> <%= @rental.end_date.strftime("%d/%m/%Y") %></p>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-center"><strong>Total Value:</strong> <%= @rental.total_value %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <div class="d-flex align-items-end gap-2">
                            <div>
                            <%= form_with(model: @rental) do |form|%>
                            <strong><%= form.label :status%>: </strong>
                            <%= form.select :status, Rental.statuses.keys.map { |status| [status.humanize, status]} %></p>
                            </div>
                            <div>
                            <%= form.submit "Editar Status", class: "btn btn-primary" %>
                            <%end%>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><strong>User:</strong> <%= @rental.user.name %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h2>Payments</h2>
            <% if @rental.payments.any? %>
                <% @rental.payments.each do |payment| %>
                <p><strong>Status:</strong> <%= payment.status.humanize %></p>
                <p><strong>Amount:</strong> <%= payment.amount %></p>
                <p><strong>Payment Date:</strong> <%= payment.payment_date.strftime("%d/%m/%Y") %></p>
                <p><strong>Payment Method:</strong> <%= payment.payment_method.humanize %></p>
            <% end %>
            <% else %>
            <p>No payments recorded.</p>
            <% end %>
        </div>
    </div>
</div>
<h2>Rented Items</h2>
<table class="table">
    <thead>
        <tr>
            <td>Item</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Total Price</td>
        </tr>
    </thead>
    <tbody>
        <% @rental.rental_items.each do |rental_item| %>
        <tr>
            <td><%= rental_item.equipment.name %></td>
            <td><%= rental_item.quantity %></td>
            <td><%= rental_item.daily_price %></td>
            <td><%= rental_item.subtotal %></td>
        </tr>
        <% end %>
    </tbody>