<%= form_with(model: [@rental, @payment], local: true) do |form| %>

  <% if @payment.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(@payment.errors.count, "error") %> prevented this payment from being saved:</h5>
      <ul class="mb-0">
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">

    <div class="col-md-6">
      <%= form.label :amount, class: "form-label" %>
      <%= form.number_field :amount,
          value: @rental.total_value,
          step: 0.01,
          class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :payment_date, class: "form-label" %>
      <%= form.date_field :payment_date, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :payment_method, class: "form-label" %>
      <%= form.select :payment_method,
          Payment.payment_methods.keys.map { |method| [method.humanize, method] },
          {},
          class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status,
          Payment.statuses.keys.map { |status| [status.humanize, status] },
          {},
          class: "form-select" %>
    </div>

  </div>

  <div class="mt-4 d-flex justify-content-end gap-2">
    <%= form.submit "Create Payment", class: "btn btn-primary" %>
  </div>

<% end %>