  <div class="field">
  <h2>Item Selecionado:</h2>
  <h3 id="rental_item_name"></h3>
  </div>

  <div>
    <strong id="erro" class="erro"></strong><br>
    <strong>Start Date: </strong><p id="rental_start_date"><%=@rental.start_date%></p>
    <strong>End Date: </strong><p id="rental_end_date"><%=@rental.end_date%></p>
  </div>


<%= form_with(model: [@rental, @rental_item], local: true) do |form| %>

  <div class="field">
    <%= form.label :equipment_id, hidden: true %>
    <%= form.text_field :equipment_id, id: "rental_item_equipment_id", readonly: true, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :daily_price %>
    <%= form.number_field :daily_price, id: "rental_item_daily_price", step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal, id: "rental_item_subtotal", step: 0.01, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit "Create Rental Item", class: "button-group" %>
  </div>
<% end %>