<%= form_with(model: [@rental, @rental_item], local: true) do |form| %>
  <% if @rental_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental_item.errors.count, "error") %> prohibited this rental item from being saved:</h2>
      <ul>
        <% @rental_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
  <h2>Item Selecionado:</h2>
  <h3 id="rental_item_name"></h3>
  </div>

  <div class="field">
    <%= form.label :equipment_id, hidden: true %>
    <%= form.text_field :equipment_id, id: "rental_item_equipment_id", readonly: true, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: "rental_item_quantity", step: 1 %>
  </div>

  <div class="field">
    <%= form.label :daily_price %>
    <%= form.number_field :daily_price, id: "rental_item_daily_price", step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal, id: "rental_item_subtotal", step: 0.01, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit "Create Rental Item" %>
  </div>
<% end %>