<h2 class="mb-4 text-success">Equipment List</h2>

<div class="card shadow-sm p-4 mb-4" style="border-left: 5px solid darkseagreen;">
  
  <%= form_with url: new_rental_rental_item_path(@rental), method: :get, local: true, class: "row g-3" do %>
    
    <div class="col-md-6">
      <div class="form-floating">
        <%= text_field_tag :query, params[:query], 
            class: "form-control", 
            placeholder: "Digite o nome do equipamento" %>
        <%= label_tag :query, "Search Equipment" %>
      </div>
    </div>

    <div class="col-md-2">
      <%= submit_tag "Buscar", class: "btn btn-primary w-100 h-100" %>
    </div>

  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle shadow-sm">
    <thead class="table-success">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Daily Value</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @equipment.each do |equipment| %>
        <tr>
          <td><%= equipment.id %></td>
          <td><%= equipment.name %></td>
          <td>$ <%= equipment.daily_value %></td>
          <td>
            <span class="badge 
              <%= case equipment.status
                  when "available" then "bg-success"
                  when "rented" then "bg-danger"
                  when "unavailable" then "bg-secondary"
                  when "pending" then "bg-warning text-dark"
                  end %>">
              <%= equipment.status.humanize %>
            </span>
          </td>
          <td>
            <%= link_to "Add to Rental", "#",
                onclick: "verifyStatus('#{equipment.status}', #{equipment.id}, '#{j equipment.name}', #{equipment.daily_value})",
                class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script>

  function verifyStatus(status, equipmentId, equipmentName, dailyPrice) {

    if (status === "rented" || status === "unavailable") {
      document.getElementById("erro").innerText = "Item is unavailable for rent";
      return;
    }

    if (status === "pending") {
      document.getElementById("erro").innerText = "Item is pending approval";
      return;
    }

    // Se for available
    document.getElementById("erro").innerText = "";
    fillForm(equipmentId, equipmentName, dailyPrice);
    calculateSubtotal();
  }

  function fillForm(equipmentId, equipmentName, dailyPrice) {
    document.getElementById("rental_item_equipment_id").value = equipmentId;
    document.getElementById("rental_item_name").innerText = equipmentName;
    document.getElementById("rental_item_daily_price").value = dailyPrice;
  }

  function calculateSubtotal() {
  let dailyPriceField = document.getElementById("rental_item_daily_price");
  let startDateField = document.getElementById("rental_start_date");
  let endDateField = document.getElementById("rental_end_date");
  let subtotalField = document.getElementById("rental_item_subtotal");

  if (!dailyPriceField || !startDateField || !endDateField || !subtotalField) {
    console.log("Algum campo não foi encontrado no HTML");
    return;
  }


    let dailyValue = parseFloat(document.getElementById("rental_item_daily_price").value);
    let startDate = document.getElementById("rental_start_date").innerText;
    let endDate = document.getElementById("rental_end_date").innerText;

    if (!startDate || !endDate || !dailyValue) return;

    let start = new Date(startDate);
    let end = new Date(endDate);

    if (end < start) {
      document.getElementById("erro").innerText = "End date must be after start date";
      return;
    }

    let diffTime = end.getTime() - start.getTime();
    let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;

    document.getElementById("rental_item_subtotal").value = dailyValue * diffDays;
  }
</script>