<h2>Equipment List</h2>

<%= form_with url: new_rental_rental_item_path(@rental), method: :get, local:true do %>
    <div>
        <%=  label_tag :query, "Search Equipment "%>
        <%= text_field_tag :query, params[:query], placeholder: "Digite o nome do equipamento"%>
        <%= submit_tag "Buscar" %>
    </div>
<%end%>

<table class="table">
    <thead>
        <tr>
            <td>Equipment ID</td>
            <td>Equipment Name</td>
            <td>Daily Value</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @equipment.each do |equipment| %>
        <tr>
            <td><%= equipment.id %></td>
            <td><%= equipment&.name %></td>
            <td><%= equipment.daily_value %></td>
            <td><%= equipment.status&.humanize %></td>
            <td>
                <%= link_to "Add to Rental", "javascript:void(0)", 
                    onclick: "VerifyStatus('#{equipment.status}', #{equipment.id}, '#{j equipment.name}', #{equipment.daily_value})", 
                    class: "btn btn-primary" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<script>
    function VerifyStatus(status, quipmentId, equipmentName, dailyPrice){
        if(status == "unavailable" || status == "rented"){
            document.getElementById("erro").innerText = "Item is unavailable for rent"
            document.getElementById("rental_item_daily_price").value = ""; 
        }else{
            document.getElementById("erro").innerText = "";
            PrencheForm(quipmentId, equipmentName, dailyPrice);
            document.getElementById("rental_item_subtotal").value = 
                        SomaSubtotal(parseFloat(document.getElementById("rental_item_daily_price").value), 
            document.getElementById("rental_start_date").innerText, 
            document.getElementById("rental_end_date").innerText);
        }
    }
    function PrencheForm(equipmentId, equipmentName, dailyPrice) {
        document.getElementById("rental_item_equipment_id").value = equipmentId;
        document.getElementById("rental_item_name").innerText = equipmentName;
        document.getElementById("rental_item_daily_price").value = dailyPrice;  

    }

    function SomaSubtotal(dailyValue, start_date, end_date) {
        var start = new Date(start_date);
        var end = new Date(end_date);
        end.setDate(end.getDate() + 1);
        var timeDiff = Math.abs(start.getTime() - end.getTime());
        var diffDays = Math.ceil(timeDiff / (1000*3600*24));
        console.log("O valor mudou para: " + diffDays);
        return dailyValue * diffDays;
    }
</script>